/* App.vue */
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  min-height: 100vh;
}

/* nav {
  padding: 10px;
} */

nav a {
  font-weight: bold;
  color: #2c3e50;
}

nav a.router-link-exact-active {
  color: #42b983;
}


/* Homeview.vue */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.ml_5{
  margin-left: 5px;
}

.ml_10{
  margin-left: 10px;
}

.mr_5{
  margin-right: 5px;
}

.mr_10{
  margin-right: 10px;
}

.pd_10{
  padding: 10px 0;
}

/* Login */
.login{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom right, #f0f2f0, #000000);
  height: 100vh;
  overflow: hidden;
}